# Python

**pycache**/
*.pyc
*.pyo
*.pyd

# Virtual Environment

.venv/
venv/

# VS Code

.vscode/

# Jupyter

.ipynb_checkpoints/

# Environment Variables

.env

# Logs

*.log

# Temporary Files

*.tmp

# OS Files

.DS_Store
Thumbs.db

# Python cache

.pytest_cache/

# Build files

dist/
build/